<div class="fixed-top">
    <header class="topbar">
        <div class="container">
          <div class="row">
            <!-- social icon-->
            <div class="col-sm-12 my-3">
              <!-- <ul class="social-network">
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul> -->
           <div class="float-right">
            <button  type="button " class="btn btn-light mx-1" ><a routerLink="login">login</a></button>
            <button  type="button " class="btn btn-light mx-1" ><a routerLink="sign_up">register</a></button>
          </div>

            </div>
  
          </div>
        </div>
    </header>
 
  </div>